<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <meta http-equiv="pragma" content="no-cache">

    <title>Doug Clelland - Portfolio</title>
    <link rel="stylesheet" href="styles.css" type="text/css">
    <!-- <script src="https://cdn.jsdeliver.net/npm/@mdi/font@7.4.47/scripts/verify.min.js"></script> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@7.4.47/css/materialdesignicons.min.css" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify@3.6.8/dist/vuetify.min.css" type="text/css">
</head>
<body>

<div id="app" dark>
    <v-app v-cloak>
    <v-app-bar >
        <v-app-bar-nav-icon
        :icon="nav_icon" 
        @click.stop="show_drawer = !show_drawer"
        variant="text"
        class="d-lg-none"
        ></v-app-bar-nav-icon>
        <v-toolbar-title>Skills</v-toolbar-title>
        <v-spacer></v-spacer>
    </v-app-bar>

    <skills-drawer
    :show_drawer="show_drawer"
    v-model="selected_skills"
    :skills_list="skills_list"
    :skills_map="skills_map"
    :selected_skills="selected_skills"
    @toggle_drawer="toggle_drawer"
    ></skills-drawer>

    <div v-if="filtered_projects && filtered_projects.length" class="project-list">
        <project-card 
        v-for="project in filtered_projects" 
        :key="`project_${project._id}`"
        :project="project"
        :selected_skills='selected_skills'
        class="mt-4"
        @update:skills="update_skills"
        ></project-card>
    </div>
    <div v-else-if="projects" class="project-list d-flex-column justify-center text-center">
        There are no projects matching that exact combination of skills. 
        <br>
        <v-btn 
        @click="reset_skills" 
        color="teal"
        class="my-3"
        text>Reset Skill Filter</v-btn>
    </div>

    </v-app>
</div>

<!-- vue templates built in here: -->

<!-- project-card: -->
    <script type="vue-template" id="project-card-template">
    <v-card 
    :subtitle='subtitle'
    variant='tonal' color='teal'>
        <v-card-title>
            <v-icon v-if='project.favorite'>mdi-star</v-icon>
            {{title}}
        </v-card-title>
        <v-card-text>
            {{project.description}}
        </v-card-text>
        <v-card-text>

            <v-chip 
            v-for='(skill,index) in project.skills'
            :key='`${project._id}_skill_${index}`' 
            :color='selected_skills.includes(skill) ? "teal-accent-2" : "teal"'
            @click='toggle_skill(skill)'  
            class='mx-1 my-1'     

            >{{skill}}</v-chip>

        </v-card-text>
    </v-card>
    </script>

<!-- skills-drawer: -->
<script type="vue-template" id="skills-drawer-template">
<v-navigation-drawer 
:width='width' 
:modelValue='show_drawer'
@update:modelValue='toggle_drawer'
>
   <!-- <v-list-item title="Skills List" subtitle='Used in Projects'></v-list-item> -->
    <v-list density='compact'>
        <v-list-item
        v-for='(skill,index) in skills_list' 
        :key='`skill_drawer_${index}`'
        density='compact'>
            <v-checkbox 
            v-model='modelValue'
            @update:model-value='input_handler'
            :label='`${skill} (${skills_map[skill]})`'
            :true-value='skill'
            :color='color'
            :value='skill'
            density='compact'
            hide-details
            multiple></v-checkbox>
        </v-list-item>
    </v-list>

</v-navigation-drawer>
</script>


<!-- include Vue and Vuetify -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue@3.4.27/dist/vue.global.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vuetify@3.6.8/dist/vuetify.min.js"></script>

<!-- now my UI module -->
<script type="module" src="ui.js"></script>

</body>
</html>
