<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <meta http-equiv="pragma" content="no-cache">

    <title>Doug Clelland - Portfolio</title>
    <link rel="stylesheet" href="styles.css" type="text/css">
    <!-- <script src="https://cdn.jsdeliver.net/npm/@mdi/font@7.4.47/scripts/verify.min.js"></script> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@7.4.47/css/materialdesignicons.min.css" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify@3.6.8/dist/vuetify.min.css" type="text/css">
</head>
<body>

<div id="app" dark>
    <v-app>
    <skills-drawer
    v-model="selected_skills"
    :skills_list="skills_list"
    :skills_map="skills_map"
    :selected_skills="selected_skills"
    ></skills-drawer>
    <div v-if="projects" class="project-list">
        <project-card 
        v-for="project in projects" 
        :key="`project_${project._id}`"
        :project="project"
        :selected_skills='selected_skills'
        class="mt-4"
        @update:skills="update_skills"
        ></project-card>
    </div>
    </v-app>
</div>

<!-- vue templates built in here: -->

<!-- project-card: -->
    <script type="vue-template" id="project-card-template">
    <v-card 
    :title='title'
    :subtitle='subtitle'
    variant='tonal' color='teal'>
        <v-card-text>
            {{project.description}}
        </v-card-text>
        <v-card-text>
            <v-btn
            v-for='(skill,index) in project.skills'
            :key='`${project._id}_skill_${index}`' 
            class='mx-1'
            @click='toggle_skill(skill)'
            >
                <v-chip             
                :color='selected_skills.includes(skill) ? "pink" : "green"'
                >{{skill}}</v-chip>
            </v-btn>
        </v-card-text>
    </v-card>
    </script>

<!-- skills-drawer: -->
<script type="vue-template" id="skills-drawer-template">
<v-navigation-drawer :width='width' :color='color'>
    <v-list-item
    v-for='(skill,index) in skills_list'
    :key='`skill_drawer_${index}`'
    >
    <v-checkbox 
    v-model='modelValue'
    @update:model-value='input_handler'
    :label='`${skill} (${skills_map[skill]})`'
    :true-value='skill'
    :value='skill'
    multiple></v-checkbox>
    </v-list-item>

</v-navigation-drawer>
</script>


<!-- include Vue and Vuetify -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue@3.4.27/dist/vue.global.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vuetify@3.6.8/dist/vuetify.min.js"></script>

<!-- now my UI module -->
<script type="module" src="ui.js"></script>

</body>
</html>
