<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <meta http-equiv="pragma" content="no-cache">

    <title>Doug Clelland - Portfolio</title>
    <link rel="stylesheet" href="styles.css" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify@3.6.8/dist/vuetify.min.css" type="text/css">
</head>
<body>
    <div id="app" dark>
        <div v-if="config && config.projects" class="project-list">
            <project-card 
            v-for="project in config.projects" 
            :key="`project_${project._id}`"
            :project="project"
            class="mt-4"
            ></project-card>
        </div>
    </div>




    <!-- vue templates built in here: -->

    <!-- project-card: -->
     <script type="vue-template" id="project-card-template">
        <v-card 
        :title='title'
        :subtitle='subtitle'
        variant='tonal' color='teal'>
            <v-card-text>
                {{project.description}}
            </v-card-text>
            <v-card-text>
                <v-chip 
                v-for='(skill,index) in project.skills'
                :key='`${project._id}_skill_${index}`' 
                >{{skill}}</v-chip>
            </v-card-text>
        </v-card>
     </script>


    <!-- include Vue and Vuetify -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue@3.4.27/dist/vue.global.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vuetify@3.6.8/dist/vuetify.min.js"></script>
    
    <!-- now my UI module -->
    <script type="module" src="ui.js"></script>

</body>
</html>
