[v-cloak]{
    display:none;
}

.project-list{
    max-width: 80vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 72px;
}  
@media (min-width: 1280px){
    .project-list{
        max-width: 600px;
        min-width:480px;
        margin-right: calc(50% - 460px);
    }
}
@media (min-width: 2000px){
    .project-list{
        max-width: 1200px;
        min-width:480px;
        margin-right: calc(50% - 660px);
    }
}

.v-card-title{
    color: #EEEEEE;
}

