
.project-list{
    max-width: 80vw;
    margin-left: auto;
    margin-right: auto;
 }  
@media (min-width: 1200px){
    .project-list{
        max-width: 1200px;
    }
}

.v-card-title{
    color: #EEEEEE;
}